In [1]:
import sqlite3
import os
import functools
import pandas 
import datetime
import random

In [10]:
from aiogram import types, F
import pandas as pd
from misc import dp
from aiogram.types import Message, CallbackQuery
from aiogram.filters import Command
from kb import specialists_keyboard
import sqlite3
import os
from tables import (create_tables, drop_tables, fill_test_data_to_tables, 
                    delete_collisions_by_appointment_time, 
                    delete_duplicates_from_customers, 
                    delete_duplicates_from_specialists, 
                    show_table, show_full_schedule, 
                    show_specialist_schedule, 
                    insert_appointment)
# os.remove('scheduler.db')
conn = sqlite3.connect('scheduler.db')   
# cursor = conn.cursor()

In [11]:
# conn.close()

In [22]:
drop_tables(conn)
create_tables(conn)
fill_test_data_to_tables(conn, ['specialists', 'customers'])
# fill_test_data_to_tables(conn)
# fill_test_data_to_tables(conn)
# delete_collisions_by_appointment_time(conn)

Specialists added to specialists table. Customers added to customers table.

In [13]:
# delete_duplicates_from_specialists(conn)
# delete_duplicates_from_customers(conn)

# specialists = show_table(conn, 'specialists')
# [f"{spec['work_position']} {spec['name']}" 
#  for _, spec in specialists.iterrows()]

In [29]:
show_table(conn, 'specialists')
show_table(conn, 'customers')

   id            name     phone telegram_id
0   1     Alice Smith  555-1234      @Smith
1   2     Bob Johnson  555-5678       @John
2   3   Charlie Brown  555-9012      @Briwn
3   4  Diana Martinez  555-3456      @Marta
4   5      Eva Wilson  555-7890       @Sida

In [44]:
show_full_schedule(conn)

Empty DataFrame
Columns: [spec_pos, s_name, date, time, c_name, c_phone]
Index: []

In [46]:
show_specialist_schedule(conn, 2)

         date      time       c_name   c_phone
0  2025-05-10  15:00:00  Bob Johnson  555-5678

In [45]:
appointment_date = '2025-05-10'
appointment_time = '15:00:00'
specialist_id = 2
customer_id = 2
await insert_appointment(conn, specialist_id=specialist_id,
                   customer_id=customer_id,
                   appointment_time=appointment_time, 
                  appointment_date=appointment_date)


# conn.close()

2025-05-10
Appointment successfully scheduled.

True