In [1]:
from aiogram import types, F
import pandas as pd
from misc import dp
from aiogram.types import Message, CallbackQuery
from aiogram.filters import Command
from kb import specialists_keyboard
import sqlite3
import os
from tables import (create_tables, fill_test_data_to_tables, 
                    delete_collisions_by_appointment_time, 
                    delete_duplicates_from_customers, 
                    delete_duplicates_from_specialists, 
                    show_table, show_full_schedule, 
                    show_specialist_schedule, 
                    insert_appointment)
# os.remove('scheduler.db')
conn = sqlite3.connect('scheduler.db')   
# cursor = conn.cursor()

In [19]:
# conn.close()

In [2]:
# create_tables(conn)
# fill_test_data_to_tables(conn)
# fill_test_data_to_tables(conn)
# fill_test_data_to_tables(conn)
# delete_collisions_by_appointment_time(conn)

In [28]:
# delete_duplicates_from_specialists(conn)
# delete_duplicates_from_customers(conn)

specialists = show_table(conn, 'specialists')
[f"{spec['work_position']} {spec['name']}" 
 for _, spec in specialists.iterrows()]

['Hair Stylist John Smith',
 'Nail Technician Emily Johnson',
 'Esthetician Michael Brown',
 'Massage Therapist Jessica Martinez',
 'Makeup Artist David Wilson']

In [22]:
show_table(conn, 'customers')

   id            name     phone
0   1     Alice Smith  555-1234
1   2     Bob Johnson  555-5678
2   3   Charlie Brown  555-9012
3   4  Diana Martinez  555-3456
4   5      Eva Wilson  555-7890

In [23]:
show_full_schedule(conn).head()

,appointment_time,customer_name,customer_phone,specialist_name,specialist_position
0,2020-05-10 15:00:00,Bob Johnson,555-5678,Emily Johnson,Nail Technician
1,2024-02-08 09:00:00,Alice Smith,555-1234,John Smith,Hair Stylist
2,2024-02-08 09:00:00,Alice Smith,555-1234,Emily Johnson,Nail Technician
3,2024-02-08 10:00:00,Bob Johnson,555-5678,Emily Johnson,Nail Technician
4,2024-02-08 11:00:00,Charlie Brown,555-9012,Michael Brown,Esthetician

In [12]:
show_specialist_schedule(conn, 2)

      appointment_time   customer_name customer_phone
0  2024-02-08 09:00:00     Alice Smith       555-1234
1  2024-02-08 10:00:00     Bob Johnson       555-5678
2  2024-02-08 15:00:00   Charlie Brown       555-9012
3  2024-02-09 10:00:00   Charlie Brown       555-9012
4  2024-02-09 15:00:00  Diana Martinez       555-3456
5  2024-02-10 09:30:00      Eva Wilson       555-7890
6  2024-02-10 12:00:00     Alice Smith       555-1234

In [17]:
appointment_time = '2020-05-10 15:00:00'
specialist_id = 2
customer_id = 2
insert_appointment(conn, specialist_id=specialist_id,
                             customer_id=customer_id,
                             appointment_time=appointment_time)


# conn.close()

ProgrammingError: Cannot operate on a closed database.