In [1]:
f'{5:02d}'

'05'

In [33]:
from random import randint
import datetime
import sqlite3
from tables import (show_table, drop_tables, create_tables,
                    fill_test_data_to_tables, show_full_schedule, 
                    delete_collisions_by_appointment_time)
conn = sqlite3.connect('scheduler.db')

# drop_tables(conn)
# create_tables(conn)
# fill_test_data_to_tables(conn)
# delete_collisions_by_appointment_time(conn)
show_full_schedule(conn)
show_table(conn, 'work_schedule')

    id  specialist_id  customer_id appointment_date appointment_time
0    1              5            4       2024-02-13            13:00
1    2              5            5       2024-02-14            18:00
2    3              3            2       2024-02-13            10:00
3    4              4            1       2024-02-13            15:00
4    5              2            3       2024-02-14            08:00
5    6              1            1       2024-02-14            14:00
6    7              3            1       2024-02-13            08:00
7    8              2            2       2024-02-13            13:00
8    9              3            4       2024-02-14            18:00
9   10              4            2       2024-02-14            16:00
10  13              5            3       2024-02-13            12:00
11  14              5            4       2024-02-14            16:00
12  15              1            5       2024-02-13            15:00
13  16              1            1       2024-02-13            11:00
14  18              3            3       2024-02-14            14:00
15  19              3            2       2024-02-13            12:00

In [23]:
from functools import wraps
import pandas as pd

def print_as_dataframe(func):
    '''Декоратор преобразует ответ базы данных в красивый и удобный pd.Dataframe'''
    @wraps(func)
    def wrapper(*args, **kwargs):
        # Вызов оригинальной функции
        result = func(*args, **kwargs)        
        # Преобразование в датафрйем с описанием колонок
        df = pd.DataFrame(result, columns=[col[0] for col in result.description])        
        return df          
    return wrapper

@print_as_dataframe
def show_specialist_schedule(conn, specialist_id):
    '''Возвращает рабочее расписание для выбранного специалиста в виде: 
    |дата-время|имя посетителя|телефон|  '''
    cursor = conn.cursor()
    cursor = cursor.execute('''
    SELECT
        ws.appointment_date,
        ws.appointment_time,
        c.name AS customer_name,
        c.phone AS customer_phone
    FROM
        work_schedule ws
    JOIN
        customers c ON ws.customer_id = c.id
    WHERE
        ws.specialist_id = ?
    ORDER BY
        ws.appointment_date, ws.appointment_time;''', (str(specialist_id)))
    return cursor

# @print_as_dataframe
def get_busy_hours(conn, specialist_id, day):
    '''Возвращает рабочее расписание для выбранного специалиста в виде: 
    |дата-время|имя посетителя|телефон|  '''
    cursor = conn.cursor()
    cursor = cursor.execute('''
    SELECT
        ws.appointment_time
    FROM
        work_schedule ws
    WHERE
        ws.specialist_id = ? AND ws.appointment_date = ?
    ORDER BY
        ws.appointment_time;''', (str(specialist_id), str(day)))
    result = [item[0] for item in cursor.fetchall()]
    return result

print(show_specialist_schedule(conn, 1))
get_busy_hours()

  appointment_date appointment_time customer_name customer_phone
0       2024-02-13            11:00   Alice Smith       555-1234
1       2024-02-13            15:00    Eva Wilson       555-7890
2       2024-02-14            14:00   Alice Smith       555-1234

['11:00', '15:00']

In [31]:
conn.close()