In [1]:
import sqlite3
import os
import functools
import pandas 
import datetime
import random

In [ ]:
from aiogram import types, F
import pandas as pd
from misc import dp
from aiogram.types import Message, CallbackQuery
from aiogram.filters import Command
from kb import specialists_keyboard
import sqlite3
import os
from tables import (create_tables, drop_tables, fill_test_data_to_tables, 
                    delete_collisions_by_appointment_time, 
                    delete_duplicates_from_customers, 
                    delete_duplicates_from_specialists, 
                    show_table, show_full_schedule, 
                    show_specialist_schedule, 
                    insert_appointment)
# os.remove('scheduler.db')
conn = sqlite3.connect('scheduler.db')   
# cursor = conn.cursor()

In [8]:
# conn.close()

In [9]:
drop_tables(conn)
create_tables(conn)
fill_test_data_to_tables(conn, ['specialists'])
# fill_test_data_to_tables(conn)
# fill_test_data_to_tables(conn)
# delete_collisions_by_appointment_time(conn)

Specialists added to specialists table.

In [5]:
# delete_duplicates_from_specialists(conn)
# delete_duplicates_from_customers(conn)

# specialists = show_table(conn, 'specialists')
# [f"{spec['work_position']} {spec['name']}" 
#  for _, spec in specialists.iterrows()]

In [10]:
show_table(conn, 'specialists')

   id              name      phone telegram_id      work_position
0   1        John Smith   444-2326                   Hair Stylist
1   2     Emily Johnson   444-3453                Nail Technician
2   3     Илья Тахтамыш   444-7880    Iljattt_        Esthetician
3   4  Jessica Martinez  444-23234              Massage Therapist
4   5      David Wilson   444-2346                  Makeup Artist

In [11]:
show_full_schedule(conn)

OperationalError: no such column: ws.date

In [ ]:
show_specialist_schedule(conn, 2)

In [ ]:
appointment_time = '2020-05-10 15:00:00'
specialist_id = 2
customer_id = 2
insert_appointment(conn, specialist_id=specialist_id,
                             customer_id=customer_id,
                             appointment_time=appointment_time)


# conn.close()