In [1]:
f'{5:02d}'

'05'

In [2]:
from random import randint
import datetime
import sqlite3
from tables import (show_table, drop_tables, create_tables,
                    fill_test_data_to_tables, show_full_schedule, 
                    delete_collisions_by_appointment_time)
conn = sqlite3.connect('scheduler.db')

drop_tables(conn)
create_tables(conn)
fill_test_data_to_tables(conn)
delete_collisions_by_appointment_time(conn)
show_full_schedule(conn)

Specialists added to specialists table. Customers added to customers table. Test records added to work_schedule table.
Collisions deleted successfully.

,appointment_date,appointment_time,customer_name,customer_phone,specialist_name,specialist_position
0,2024-02-13,12:00,Charlie Brown,555-9012,David Wilson,Makeup Artist
1,2024-02-13,13:00,Diana Martinez,555-3456,David Wilson,Makeup Artist
2,2024-02-14,16:00,Diana Martinez,555-3456,David Wilson,Makeup Artist
3,2024-02-14,18:00,Eva Wilson,555-7890,David Wilson,Makeup Artist
4,2024-02-13,13:00,Bob Johnson,555-5678,Emily Johnson,Nail Technician
5,2024-02-14,08:00,Charlie Brown,555-9012,Emily Johnson,Nail Technician
6,2024-02-13,15:00,Alice Smith,555-1234,Jessica Martinez,Massage Therapist
7,2024-02-14,16:00,Bob Johnson,555-5678,Jessica Martinez,Massage Therapist
8,2024-02-13,11:00,Alice Smith,555-1234,John Smith,Hair Stylist
9,2024-02-13,15:00,Eva Wilson,555-7890,John Smith,Hair Stylist
10,2024-02-14,14:00,Alice Smith,555-1234,John Smith,Hair Stylist
11,2024-02-13,08:00,Alice Smith,555-1234,Michael Brown,Esthetician
12,2024-02-13,10:00,Bob Johnson,555-5678,Michael Brown,Esthetician
13,2024-02-13,12:00,Bob Johnson,555-5678,Michael Brown,Esthetician
14,2024-02-14,14:00,Charlie Brown,555-9012,Michael Brown,Esthetician
15,2024-02-14,18:00,Diana Martinez,555-3456,Michael Brown,Esthetician

In [14]:
from functools import wraps
import pandas as pd

def print_as_dataframe(func):
    '''Декоратор преобразует ответ базы данных в красивый и удобный pd.Dataframe'''
    @wraps(func)
    def wrapper(*args, **kwargs):
        # Вызов оригинальной функции
        result = func(*args, **kwargs)        
        # Преобразование в датафрйем с описанием колонок
        df = pd.DataFrame(result, columns=[col[0] for col in result.description])        
        return df          
    return wrapper

@print_as_dataframe
def show_specialist_schedule(conn, specialist_id):
    '''Возвращает рабочее расписание для выбранного специалиста в виде: 
    |дата-время|имя посетителя|телефон|  '''
    cursor = conn.cursor()
    cursor = cursor.execute('''
    SELECT
        ws.appointment_date,
        ws.appointment_time,
        c.name AS customer_name,
        c.phone AS customer_phone
    FROM
        work_schedule ws
    JOIN
        customers c ON ws.customer_id = c.id
    WHERE
        ws.specialist_id = ?
    ORDER BY
        ws.appointment_date, ws.appointment_time;''', (str(specialist_id)))
    return cursor

@print_as_dataframe
def get_busy_hours(conn, specialist_id, day):
    '''Возвращает рабочее расписание для выбранного специалиста в виде: 
    |дата-время|имя посетителя|телефон|  '''
    cursor = conn.cursor()
    cursor = cursor.execute('''
    SELECT
        ws.appointment_time
    FROM
        work_schedule ws
    WHERE
        ws.specialist_id = ? AND ws.appointment_date = ?
    ORDER BY
        ws.appointment_time;''', (str(specialist_id), str(day)))

    return cursor

print(show_specialist_schedule(conn, 1))
get_busy_hours(conn, 1, '2024-02-14')

AttributeError: 'NoneType' object has no attribute 'description'