In [1]:
from random import randint
import datetime
import sqlite3
from tables import (show_table, drop_tables, create_tables,
                    fill_test_data_to_tables, show_full_schedule, 
                    delete_collisions_by_appointment_time)
conn = sqlite3.connect('scheduler.db')

drop_tables(conn)
create_tables(conn)
fill_test_data_to_tables(conn, n_records = 400)
delete_collisions_by_appointment_time(conn)
show_full_schedule(conn)
show_table(conn, 'work_schedule')
show_table(conn, 'specialists')

Specialists added to specialists table. Customers added to customers table. Test records added to work_schedule table.
Collisions deleted successfully.

   id              name      phone telegram_id      work_position
0   1        John Smith   444-2326                   Hair Stylist
1   2     Emily Johnson   444-3453                Nail Technician
2   3     Илья Тахтамыш   444-7880     Iljattt        Esthetician
3   4  Jessica Martinez  444-23234              Massage Therapist
4   5      David Wilson   444-2346                  Makeup Artist